<aside class="sidebar">
  <div class="user-info">
    <h3>
      <%= image_for(@user) %>
    </h3>
    <span class="label">Name</span>
    <h3><%= @user.name %></h3>
    <span class="label">City</span>
    <h3><%= @user.city %></h3>
    <span class="label">Interest</span>
    <h3><%= @user.city %></h3>
    <span class="label">About</span>
    <h3><%= @user.about %></h3>
    <h2>Friends</h2>
    <ul>
      <% @user.friends.each do |friend| %>
        <li>
          <%= friend.name %>
          <%= link_to "remove", friendship_path(friend_id: friend), method: :delete %>
        </li>
      <% end %>
    </ul>

    <p><%= link_to "Find Friends", users_path %></p>

    <h2>Friended by Users</h2>
    <ul>
      <% @user.inverse_friends.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>
  </div>

  <% if current_user?(@user) %>
    <%= link_to 'Edit', edit_user_path(@user), {class: "btn edit-btn"} %>
  <% end %>
</aside>

<ul class="notes">
  <h2>Feed Line</h2>
  <%= render @events %>
</ul>
