<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <% userArray=User.all.select{|u| u.name unless u==current_user }%>
  <% names=userArray.map{|u| u.name} %>
  <div>
    <%= f.label :user %>
    <%= f.check_box :user, names, {multiple: true} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
